.page-header {
    color: #fff;
    text-align: center;
    background-color: #6c1599;
    background-image: linear-gradient(112deg,#0b29bd,#157099);
    padding: 1.5rem 2rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #0b73bd;
}

body {
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
    text-align: justify;
    vector-effect: non-scaling-stroke;
}

.main-content table th {
    font-weight: 700;
    background-color: #157499;
    color: #fff;
}

